body{
    font-family: 'Source Serif Pro', serif;
    margin: 0%;
}
.flexible-content{
    display: flex;
    margin-bottom: 50px;
}
.half-width{
    width: 50%;
    margin-left: 3%;
}
.half-width img{
    width: 70%;
}
h1{
    font-size: 60px;
}
.SandyBrown{
    color: rgb(244, 164, 96);
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orangered, tomato);
    padding: 10px 30px;
    color: white;
    font-weight: 700;
    border-radius: 5px
}
#stay{
   border-left: 4px solid;
   border-image: linear-gradient(orangered, tomato);
   border-image-slice: 1;
}
.stay-text{
    margin-left: 10%;
    margin-top: 5%;
}
.bottom{
    margin-bottom: 5%;
}
.top{
    margin-top: 7%;
}
#sion{
    margin-left: 10%;
    margin-right: 10%;
}
.width-three{
    width: 32%;
}
.icon{width: 50%;}
#frist{
    background-color: hsl(215, 37%, 90%);
    border-radius: 10px;
    padding: 2%;
}
#center{
    margin-left: 2%;
    margin-right: 2%;
    background-color: hsl(353, 100%, 95%);
    border-radius: 10px;
    padding: 2%;
}
#last{
    background-color: hsl(31, 84%, 90%);
    border-radius: 10px;
    padding: 2%;
}
