body{
    font-family: 'Source Serif Pro', serif;
    margin: 0%;
}
.flexible-content{
    display: flex;
    margin-bottom: 50px;
}
.half-width{
    width: 50%;
    margin-left: 3%;
}
.half-width img{
    width: 70%;
}
.width-four h2{
    font-size: 45px;
}
.SandyBrown{
    color: rgb(244, 164, 96);
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orangered, tomato);
    padding: 10px 30px;
    color: white;
    font-weight: 700;
    border-radius: 5px
}
#stay{
   border-left: 4px solid tomato;
   font-size: 60px;
   height: 135px;
   border-radius: 5px;
}
.stay h1{
    font-size: 50px;
}
h1{
    font-size: 48px;
}
.stay-text{
    margin-left: 10%;
    margin-top: 5%;
}
.bottom{
    margin-bottom: 5%;
}
.top{
    margin-top: 7%;
}
#sion{
    margin-left: 10%;
    margin-right: 10%;
}
.width-three{
    width: 32%;
}
.width-three img{
    width: 50%;
    position: left;
}
#frist{
    background-color: hsl(215, 37%, 90%);
    border-radius: 15px;
    padding: 2%;
}
#center{
    margin-left: 2%;
    margin-right: 2%;
    background-color: 	hsl(329, 100%, 95%);
    border-radius: 15px;
    padding: 2%;
}
#last{
    background-color: hsl(38, 89%, 90%);
    border-radius: 15px;
    padding: 2%;
}

.flexible{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
}
.width-six{
    width: 40%;
}
.width-six img{
    width: 90%;
    position: right;
}
.width-four{
    width: 60%;
    margin-top: 2%;
}
.up-down{
    margin-bottom: 7%;
    margin-top: -2%;
}
.develop{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position:left;
    background-size: 18%;
    background-position-x: 5%;
}
.global{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 15%;
    margin-bottom: 50px;
}
footer{
    padding-top: 25px;
    padding-bottom: 15px;
    height: 130px;
    background-color: rgb(4, 4, 19);
    color: white;
}
footer h2{
    font-size: 30px;
}
.build{
    display: flex;
}
.width-half{
    width: 50%;
    margin-bottom: 50px;
}
.width-half img{
    width: 50%;
    position: center;
}
.app{
    margin-left: 10%;
    margin-right: 10%;
}
#go{
    margin-top: 40px;
}